<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="shortcut icon" type="image/png" href=https://www.flaticon.com/svg/vstatic/svg/615/615486.svg?token=exp=1615429833~hmac=d5d0bf3afa47f76823bb561995222156>
  <title>Edit a Point</title>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="/styles/editpoint.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"
      integrity="sha512-JZSo0h5TONFYmyLMqp8k4oPhuo6yNk9mHM+FY50aBjpypfofqtEWsAgRDQm94ImLCzSaHeqNvYuD9382CEn2zw=="
      crossorigin="anonymous"></script>
</head>
</br>
<form method='POST' action='/user/editpoint/<%=locationID%>/edit'>
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="title" name="title" class="form-control" id="titleinput" placeholder="Title" required>
  </div>
    <div class="address-insert"></div>
  <div class="form-group address">
    <label for="exampleFormControlInput1">Search for Address or Location Name</label>
    <input type="address" name="address" class="form-control" id="addressinput" placeholder="Address" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" name="description" id="descriptioninput" placeholder="Tell me more about this place"
      rows="2" required></textarea>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Phone</label>
    <input type="address" name="phone" class="form-control" id="phoneinput" placeholder="Phone Number" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlInput1">Image</label>
    <input type="text" name="imageurl" class="form-control" id="image" placeholder="imageURL" required>
  </div>
  <div class="row">
    <div class="col">
    <div class="form-group">
    <label for="exampleFormControlInput1">Latitude</label>
    <input type="text" name ="lat" class="form-control" id="lat" readonly placeholder="..." required>
    </div>
  </div>
    <div class="col">
    <div class="form-group">
    <label for="exampleFormControlInput1">Longitude</label>
    <input type="text" name ="long" class="form-control" id="long" readonly placeholder="..." required>
  </div>
    </div>
  </div>


  <div class="row">
    <div class="col">


  <button id =confirm type="submit" class="btn btn-primary edit">Confirm</button>
</form>

    </div>

    <div class="col">


<form class="geocode" method='POST' action='/user/editpoint/<%=locationID%>/delete'>
  <button id =delete type="submit" class="btn btn-primary edit">Delete</button>

    </div>
    </div>






</form>

<%- include('../partials/foot'); %>

  <script type="text/javascript" src="/scripts/geocode.js"></script>

  <script>
    $("input#titleinput").val("<%=location.title%>");
    $("textarea#descriptioninput").val("<%=location.description%>");
    $("input#addressinput").val("<%=location.address%>");
    $("input#phoneinput").val("<%=location.phone%>");
    $("input#image").val("<%=location.image%>");
    $("input#long").val("<%=location.long%>");
    $("input#lat").val("<%=location.lat%>");



  </script>

</html>
