<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <%- include('../partials/head'); %>
    <link rel="stylesheet" href="/styles/foot.css" type="text/css" />
    <link rel="stylesheet" href="/styles/navbar.css" type="text/css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
</head>


<body>
  <div id="mapid"></div>

  <section class="listings">

    <article>
      <ul>

      </ul>
    </article>
  </section>


  <%- include('../partials/foot'); %>
    <% var test=coords %>
      <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin="">
        </script>

      <script>
         var mymap = L.map('mapid').setView([56.1304, -106.3468], 4);
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
          attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
          maxZoom: 18,
          id: 'mapbox/streets-v11',
          tileSize: 512,
          zoomOffset: -1,
          accessToken: 'pk.eyJ1IjoiZHBhcHBvIiwiYSI6ImNrbTEwNmI4dzAxeXMyeGp2c2VyajBwa20ifQ.U6SgB3CiYWT8xwZSv0eYsQ'
        }).addTo(mymap);
        <% if(coords !== undefined) { %>
      <% for (let cord of coords) { %>
          L.marker([<%= cord.lat %>, <%= cord.long %> ]).addTo(mymap).bindPopup(`
        <%= cord.title %> <br>
        <%= cord.description %> <br>
        <%= cord.phone %> <br>
        <img class="marker-image" src="<%= cord.image %>" alt="<%= cord.title %>"> <br>
        <button type="button" method="post" action="/user/favorite" class="btn btn-outline-success <%= cord.id %>">Edit</button>
      `).openPopup().on('click',function(evt){
        $("button.<%= cord.id %>").click(function(){
          window.location.href = "/user/editpoint/<%= cord.locations_id %>";

            $( ".leaflet-popup-content > button" ).removeClass( "btn-outline-success" );
            $( ".leaflet-popup-content > button" ).addClass( "btn-success" );

        });
        //insertFavoriteToDB(<%= cord.id %>, <%= cord.user_id %>);
  });
      <% } %>
      <% } else { %>

      <% } %>
      //var popup = cntower.bindPopup('<b>Hello world!</b><br />I am a  big tower (not in khazikstan).');
      //popup.openPopup();
      </script>

</body>

</html>
